{% extends 'base.html' %}


{% block content %}

<main class=" container py-5">

    <section class="card card-body">
        <h1 class="dispaly-1 text-center" > Levantamiento Informacion</h1>
        <p> La empresa en sí es una empresa muy exitosa. Nos guían las mismas personas que prevén los tiempos del alma, la elección del dolor en el orden de las cosas, y de ellas nace cada uno con grandes placeres; Lo cual es normal excepto para algunos. Acepta los momentos de derecho y los málidignos de los que es grande, está dispuesto a menudo a ser justo, impide que la elección de la vida cómoda de su espíritu sea más severa. ¿Reprochará a algunos con más dureza que a los que han logrado grandes cosas cuando, cegados por el trabajo de las dificultades, somos capaces de soportar el peso de encontrar a otros? Nos complace inducir a los más dignos a rechazar a los que lo alaban, como si hubieran sido elegidos para los deberes que desempeña el arquitecto de los dolores, el ejercicio de la culpa, de los placeres del presente.</p>

        <dv class= "text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </dv>
    
    </section>       
</main>
   
{% endblock %}